body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 200%; /* 32px */
}

h1 {
    color: #66BFBF;
    font-size: 5rem; /* 1em = 16px = 100% */
    font-family: 'Sacramento', cursive;
    margin-top: 0;
    margin-top: 50px auto 0 auto;
    line-height: 2;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem; /* 40px / 16 = 2.5 */
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}


.top-container {
    position: relative;
    padding-top: 100px;
    background-color: #96C7C1;
}

.profile-img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
}

.middle-container {
    
}

.bottom-container {
    
}

.self-made {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 450px;
    top: 40px;
}

.bottom-cloud {
    position: absolute;
    left: 550px;
    top: 400px;
}

.footer-link {
    color: #11999E;
    text-decoration: none;
}